<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="control_args" default="" />
  <arg name="name" default="/" />

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg name="eth" default="enp2s0" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <node name="slaveinfo" pkg="denso_ethercat"
        type="slaveinfo" args="$(arg eth)"
        respawn="false" output="screen" launch-prefix="$(arg launch_prefix)">
  </node>



</launch>
